body
{
    background:#d5f3f7 ;
    font-family: Montserrat;;
    font-size: inherit;
    width: 100%;
    height: 500%;
    margin: 0% auto;
}
#menu_top #left 
{
   height: 35px;
   width: 100%;
}
#menu_top #left img
{  
  height: 100%;
  width: 80%;
}
#menu_top #left .login {
    display: inline;
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
}

#menu_top #left .login-btn {
    padding: 5px;
    background-color: rgb(142, 200, 234);
    text-decoration: none;
    border-radius: 10px;
    color:#003c90;
}
#menu_trang_chu
{
    font-family:Montserrat;
    font-weight:600;
    font-size:15px;
    width: 100%;
}
#menu_trang_chu #logo img
{
    height: 60Px;
    float:left;
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}
#menu_trang_chu #menu #logo_home img
{
    height: 35px;
    float:left;
    margin-top: 32px;
    margin-left: 100px ;
}
#menu_trang_chu #menu ul
{
    margin: 0px;
    padding: 0px;
}
#menu_trang_chu #menu ul li
{
    list-style: none;
    float:left;
    margin-left: 20px;
    height: 100px;
    line-height: 100px;

}
#menu_trang_chu #menu ul li a
{
    text-decoration:none ;
    color:#005186;
}
#menu_trang_chu #menu .container-1{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-1 input#search{
    width: 180px;
    height: 30px;
    background:white;
    border: none;
    font-size: 10 pt;
    color: #262626;
    padding-left: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
   
     
      -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
#banner 
{
    height: 400px;
    width: 100%;
    margin: 0px auto;
    clear: left;
}
#banner img
{
    width: 100%;
    height: 100%;
}
#main
{
    width: 95%; 
    margin: 0% auto;
    margin-top: 20px;
    margin-left: 50px;
}
#main #hoat_dong_noi_bat
{
    width: 30%;
    min-height: 600px;
    float:left;
}
#main #hoat_dong_noi_bat p
{
    font-family:Montserrat;
    font-weight:600;
    font-size:23px;
    width: 100%;
    color: #003c90;
}
#main #hoat_dong_noi_bat img
{
    width: 90%;
    height: 200px;
}
#main #hoat_dong_noi_bat ul
{
    margin:0px;
    padding: 0px;
    width: 90%;
}
#main #hoat_dong_noi_bat ul li
{
    list-style: none;
}
#main #hoat_dong_noi_bat ul li a
{
    text-decoration:none ;
    color:#005186;
}
#main #cac_khoa_hoc{
    width: 35%;
    min-height: 600px;
    float:left;
}
#main #cac_khoa_hoc p
{
    font-family:Montserrat;
    font-weight:600;
    font-size:23px;
    width: 100%;
    color: #003c90;
}
#main #cac_khoa_hoc img
{
    width: 90%;
    height: 200px;
}
#main #cac_khoa_hoc ul
{
    margin:0px;
    padding: 0px;
    width: 90%;
}
#main #cac_khoa_hoc ul li
{
    list-style: none;
}
#main #cac_khoa_hoc ul li a
{
    text-decoration:none ;
    color:#005186;
}
#main #ban_chu_nhiem
{
    width: 35%;
    margin-top: 3%;
    min-height: 600px;
    float:left;
}
#main .slideshow-container{
    height: 40%;
    float:left;
}
* {box-sizing:border-box}
/* thiết lập style cho slideshow container */
#main .slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 /* thiết kế nút mũi tên*/
 #main .slideshow-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
/* thiết kế nút mũi tên next nằm phía bên phải */
#main .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 /* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 #main .slideshow-container  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 /* Thiết lập style cho nội dung của mỗi phần tử slideshow */
 #main .slideshow-container  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
 /* Thiết lập style cho số hiển thị của phần tử */
 #main .slideshow-container  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
 /* thiết lập style  nút tròn điều khiển*/
 #main .slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  #main .slideshow-container .active, .dot:hover {
    background-color: #717171;
  }
 /* tạo hiệu ứng chuyển động fade */
 #main .slideshow-container  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
#thanh_vien_uu_tu
{
    width: 100%; 
    margin: 0% auto;
    clear: left;
}
#thanh_vien_uu_tu p
{
    font-family:Montserrat;
    font-weight:700;
    font-size:30px;
    width: 100%;
    color: #003c90;
}
#thanh_vien_uu_tu img
{
    width: 30%;
    margin-left: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
}
#thanh_vien_uu_tu #thong_tin
{
    width: 50%;
    height: 40%;
    float:right;
    margin-top:25px;
    color: #003c90;
}
#thanh_vien_uu_tu #thong_tin ul li
{
    margin-top: 2%;
}
#thanh_tich_noi_bat
{
    width: 100%; 
    margin: 0% auto;
    margin-top: 20px;
    clear: left;
}
#thanh_tich_noi_bat p
{
    font-family:Montserrat;
    font-weight:700;
    font-size:30px;
    width: 100%;
    color: #003c90;
}
#thanh_tich_noi_bat #Col1
{
    width: 50%;
    min-height: 600px;
    float:left;
}
#thanh_tich_noi_bat #Col1 ul
{
    margin:0px;
    padding: 0px;
    width: 90%;
}
#thanh_tich_noi_bat #Col1 ul li
{
    list-style: none;
}
#thanh_tich_noi_bat #Col1 ul li a
{
    text-decoration:none ;
    color:#005186;
}
#thanh_tich_noi_bat #Col1 ul li img
{
   height: 100%;
   width: 90%;
}
#thanh_tich_noi_bat #Col1 ul li a b
{
    font-family:Montserrat;
    font-weight:650;
    font-size:20px;
    width: 100%;
    color: #003c90;
}
#thanh_tich_noi_bat #Col1 ul li #vote
{
   width: 30%;;
}
#thanh_tich_noi_bat #Col1 ul li #thong_tin
{
    font-family:Montserrat;
    font-size:20px;
    width: 100%;
    color: #003c90;
}
#thanh_tich_noi_bat #Col2
{
    width: 50%;
    min-height: 600px;
    float:left;
}
#thanh_tich_noi_bat #Col2 ul
{
    margin:0px;
    padding: 0px;
    width: 90%;
}
#thanh_tich_noi_bat #Col2 ul li
{
    list-style: none;
}
#thanh_tich_noi_bat #Col2 ul li a
{
    text-decoration:none ;
    color:#005186;
}
#thanh_tich_noi_bat #Col2 ul li img
{
   height: 100%;
   width: 90%;
}
#thanh_tich_noi_bat #Col2 ul li a b
{
    font-family:Montserrat;
    font-weight:650;
    font-size:20px;
    width: 100%;
    color: #003c90;
}
#thanh_tich_noi_bat #Col2 ul li #vote
{
   width: 30%;;
}
#thanh_tich_noi_bat #Col2 ul li #thong_tin
{
    font-family:Montserrat;
    font-size:20px;
    width: 100%;
    color: #003c90;
}
#khu_doc_sach
{
    width: 100%; 
    margin: 0% auto;
    margin-top: 20px;
    clear: left;
}
#khu_doc_sach p
{
    font-family:Montserrat;
    font-weight:700;
    font-size:30px;
    width: 100%;
    color: #003c90;
}
#khu_doc_sach .box{
	width:225px;
	float:left;
	margin:0px 3px;
    margin-bottom: 20px;
    margin-left: 45px;
}
.button{
	width: 180px;
    height: 30px;
    background:white;
    border: none;
    font-size: 10 pt;
    color: #262626;
    padding-left: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
   
     
      -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
    margin-bottom: 100px;
}
#khu_doc_sach .box p
{
    font-size:18px;
    width: 100%;
    color: #003c90;
    margin-left: 10px
}
#footer
{
    background: #00377a;
    width: 100%;  
    height: 550px;
    float: left;
}
#footer #col1
{
    width: 35%; 
    float:left;
    margin-left: 20px;
    margin-top: 70px;
}
#footer #col1 ul li
{
    list-style: none;
    color: white;
}
#footer #col2
{
    float:left;
    width: 30%;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}
#footer #col2 b
{
    font-weight:700;
    font-size:25px;
    width: 100%;
    color: white;
}
#footer #col2 ul li
{
    list-style: none;
    color: white;
    margin-top: 20px;
}
#footer #col2 ul li a
{
    text-decoration: none;
    color: white;
}
#footer #col3
{
    float:left;
    width: 30%;
    margin-top: 100px;
    color: white;
}
#footer #col3 b
{
    font-weight:700;
    font-size:25px;
    width: 100%;
    color: white;
}
#footer #col3 form input
{
    width: 300px;
    height: 40px;
}
#footer #col3 form input textarea
{
    width: 300px;
    height: 40px;
}
#footer #col3 button
{
    width: 60px;
    height: 40px;
}
